<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<connectionStrings><add name="HotelManagerEntities2" connectionString="metadata=res://*/DBHotelManager.csdl|res://*/DBHotelManager.ssdl|res://*/DBHotelManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=HotelManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;Encrypt=False;TrustServerCertificate=True&quot;" providerName="System.Data.EntityClient" /><add name="HotelManagerEntities" connectionString="metadata=res://*/HotelManagerEntities2.csdl|res://*/HotelManagerEntities2.ssdl|res://*/HotelManagerEntities2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=HotelManager;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>